<a href="https://colab.research.google.com/github/ArunKrishnan09/Covid-Analysis/blob/main/Covid_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from io import StringIO

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.chdir("/content/drive/MyDrive/Arun-ads1/Covid project")

In [4]:
misc_data = pd.read_csv("OWID_COVID_Data.csv")
misc_data = misc_data[['stringency_index',
       'population_density', 'median_age', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index']]

In [5]:
urls = ["https://catalog.ourworldindata.org/garden/covid/latest/cases_deaths/cases_deaths.csv", "https://catalog.ourworldindata.org/garden/covid/latest/hospital/hospital.csv", "https://catalog.ourworldindata.org/garden/covid/latest/vaccinations_global/vaccinations_global.csv", "https://catalog.ourworldindata.org/garden/covid/latest/vaccinations_age/vaccinations_age.csv", "https://catalog.ourworldindata.org/garden/covid/latest/testing/testing.csv", "https://catalog.ourworldindata.org/garden/covid/latest/google_mobility/google_mobility.csv", "https://catalog.ourworldindata.org/garden/covid/latest/oxcgrt_policy/oxcgrt_policy.csv"]

In [6]:
'''
CODE FOR DOWNLOADING DATASETS
import requests

urls = ["https://catalog.ourworldindata.org/garden/covid/latest/cases_deaths/cases_deaths.csv", "https://catalog.ourworldindata.org/garden/covid/latest/hospital/hospital.csv", "https://catalog.ourworldindata.org/garden/covid/latest/vaccinations_global/vaccinations_global.csv", "https://catalog.ourworldindata.org/garden/covid/latest/vaccinations_age/vaccinations_age.csv", "https://catalog.ourworldindata.org/garden/covid/latest/testing/testing.csv", "https://catalog.ourworldindata.org/garden/covid/latest/google_mobility/google_mobility.csv", "https://catalog.ourworldindata.org/garden/covid/latest/oxcgrt_policy/oxcgrt_policy.csv"]
dataset_names = ["cases_deaths", "hospital", "vaccinations_global", "vaccinations_age", "testing", "google_mobility", "oxcgrt_policy"]

for i, url in enumerate(urls):
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise an exception for bad status codes

        df = pd.read_csv(StringIO(response.text))
        df.to_csv(f"{dataset_names[i]}.csv", index=False)
        print(f"Downloaded and saved {dataset_names[i]}.csv")
    except requests.exceptions.RequestException as e:
        print(f"Error downloading {url}: {e}")
    except Exception as e:
        print(f"Error processing {url}: {e}")
'''

'\nCODE FOR DOWNLOADING DATASETS\nimport requests\n\nurls = ["https://catalog.ourworldindata.org/garden/covid/latest/cases_deaths/cases_deaths.csv", "https://catalog.ourworldindata.org/garden/covid/latest/hospital/hospital.csv", "https://catalog.ourworldindata.org/garden/covid/latest/vaccinations_global/vaccinations_global.csv", "https://catalog.ourworldindata.org/garden/covid/latest/vaccinations_age/vaccinations_age.csv", "https://catalog.ourworldindata.org/garden/covid/latest/testing/testing.csv", "https://catalog.ourworldindata.org/garden/covid/latest/google_mobility/google_mobility.csv", "https://catalog.ourworldindata.org/garden/covid/latest/oxcgrt_policy/oxcgrt_policy.csv"]\ndataset_names = ["cases_deaths", "hospital", "vaccinations_global", "vaccinations_age", "testing", "google_mobility", "oxcgrt_policy"]\n\nfor i, url in enumerate(urls):\n    try:\n        response = requests.get(url)\n        response.raise_for_status()  # Raise an exception for bad status codes\n\n        df = pd.read_csv(StringIO(response.text))\n        df.to_csv(f"{dataset_names[i]}.csv", index=False)\n        print(f"Downloaded and saved {dataset_names[i]}.csv")\n    except requests.exceptions.RequestException as e:\n        print(f"Error downloading {url}: {e}")\n    except Exception as e:\n        print(f"Error processing {url}: {e}")\n'

In [7]:
cases_deaths = pd.read_csv("cases_deaths.csv")
hospital = pd.read_csv("hospital.csv")
vaccinations_global = pd.read_csv("vaccinations_global.csv")
vaccinations_age = pd.read_csv("vaccinations_age.csv")
testing = pd.read_csv("testing.csv")
google_mobility = pd.read_csv("google_mobility.csv")
oxcgrt_policy = pd.read_csv("oxcgrt_policy.csv")

In [37]:
datasets = [cases_deaths, hospital, vaccinations_global, vaccinations_age, testing, google_mobility, oxcgrt_policy, misc_data]

In [9]:
for dataset in datasets:
  print(dataset.isnull().sum())

country                                         0
date                                            0
new_cases                                    2284
total_cases                                     0
new_deaths                                   1655
total_deaths                                    0
weekly_cases                                 3563
weekly_deaths                                2905
weekly_pct_growth_cases                    144072
weekly_pct_growth_deaths                   249307
biweekly_cases                               5367
biweekly_deaths                              4657
biweekly_pct_growth_cases                  131348
biweekly_pct_growth_deaths                 230392
new_cases_per_million                        2284
new_deaths_per_million                       1655
total_cases_per_million                         0
total_deaths_per_million                        0
weekly_cases_per_million                     3563
weekly_deaths_per_million                    2905
biweekly_cases_per_million                   5367
biweekly_deaths_per_million                  4657
total_deaths_per_100k                           0
new_deaths_per_100k                          1655
new_cases_7_day_avg_right                    3504
new_deaths_7_day_avg_right                   2872
new_cases_per_million_7_day_avg_right        3504
new_deaths_per_million_7_day_avg_right       2872
new_deaths_per_100k_7_day_avg_right          2872
cfr                                         29242
cfr_100_cases                               51184
cfr_short_term                             183963
days_since_100_total_cases                   9110
days_since_5_total_deaths                   21864
days_since_1_total_cases_per_million         3644
days_since_0_1_total_deaths_per_million     14576
days_since_100_total_cases_and_5m_pop      205886
total_deaths_last12m                       369000
total_deaths_per_100k_last12m              369000
total_deaths_per_million_last12m           369000
dtype: int64
country                              0
country_code                         0
date                                 0
daily_occupancy_icu               7661
daily_occupancy_icu_per_1m        7661
daily_occupancy_hosp              6121
daily_occupancy_hosp_per_1m       6121
weekly_admissions_icu            35784
weekly_admissions_icu_per_1m     35784
weekly_admissions_hosp           22280
weekly_admissions_hosp_per_1m    22280
dtype: int64
country                                                         0
date                                                            0
total_vaccinations                                         119835
people_vaccinated                                          124046
people_fully_vaccinated                                    126046
total_boosters                                             144273
daily_vaccinations                                         134181
daily_vaccinations_smoothed                                   217
daily_people_vaccinated_smoothed                              217
total_vaccinations_per_hundred                             119835
people_vaccinated_per_hundred                              124046
people_fully_vaccinated_per_hundred                        126046
total_boosters_per_hundred                                 144273
daily_people_vaccinated_smoothed_per_hundred                  217
daily_vaccinations_smoothed_per_million                       217
people_unvaccinated                                        124046
share_of_boosters                                          201721
total_vaccinations_interpolated                                 0
people_vaccinated_interpolated                                  0
people_fully_vaccinated_interpolated                            0
total_boosters_interpolated                                     0
total_vaccinations_no_boosters_interpolated                     0
total_vaccinations_no_boosters_per_hundred_interpolated    144728
rolling_vaccinations_6m                                       217
rolling_vaccinations_6m_per_hundred                           217
rolling_vaccinations_9m                                       217
rolling_vaccinations_9m_per_hundred                           217
rolling_vaccinations_12m                                      217
rolling_vaccinations_12m_per_hundred                          217
dtype: int64
country                                   0
age_group                                 0
date                                      0
people_vaccinated_per_hundred           859
people_fully_vaccinated_per_hundred    2500
people_with_booster_per_hundred        9519
dtype: int64
country                                     0
date                                        0
total_tests                             27401
new_tests                               31385
total_tests_per_thousand                27401
new_tests_per_thousand                  31385
new_tests_7day_smoothed                  2823
new_tests_per_thousand_7day_smoothed     2823
dtype: int64
country                                     0
date                                        0
total_tests                             27401
new_tests                               31385
total_tests_per_thousand                27401
new_tests_per_thousand                  31385
new_tests_7day_smoothed                  2823
new_tests_per_thousand_7day_smoothed     2823
dtype: int64
country        0
date           0
place          0
trend      13608
dtype: int64
country                                                                                0
date                                                                                   0
c1m_school_closing                                                                     0
c2m_workplace_closing                                                                  0
c3m_cancel_public_events                                                               0
c4m_restrictions_on_gatherings                                                         0
c5m_close_public_transport                                                             0
c6m_stay_at_home_requirements                                                          0
c7m_restrictions_on_internal_movement                                                  0
c8ev_international_travel_controls                                                     0
e1_income_support                                                                      0
e2_debt_contract_relief                                                                0
e3_fiscal_measures                                                                 96472
e4_international_support                                                           96390
h1_public_information_campaigns                                                        0
h2_testing_policy                                                                      0
h3_contact_tracing                                                                     0
h4_emergency_investment_in_healthcare                                              96515
h5_investment_in_vaccines                                                           4285
h6m_facial_coverings                                                                   0
h7_vaccination_policy                                                                  0
v2a_vaccine_availability__summary                                                      0
v2b_vaccine_age_eligibility_availability_age_floor__general_population_summary     84364
v2c_vaccine_age_eligibility_availability_age_floor__at_risk_summary                82400
stringency_index                                                                       0
containment_health_index                                                               0
v2_vaccine_availability__summary                                                       0
v2_pregnant_people                                                                174568
stringency_index_nonvax                                                                0
stringency_index_vax                                                                   0
stringency_index_weighted_average                                                   2192
dtype: int64
stringency_index              233245
population_density             68943
median_age                     94772
gdp_per_capita                101143
extreme_poverty               217439
cardiovasc_death_rate         100570
diabetes_prevalence            83524
female_smokers                182270
male_smokers                  185618
handwashing_facilities        267694
hospital_beds_per_thousand    138746
life_expectancy                39136
human_development_index       110308
dtype: int64

CLEANING CASE DATA

In [10]:
cases_deaths.drop(["total_deaths_per_million_last12m", "total_deaths_per_100k_last12m", "total_deaths_last12m", "biweekly_pct_growth_deaths", "biweekly_pct_growth_cases", "weekly_pct_growth_cases", "weekly_pct_growth_deaths", "cfr_short_term"], axis =1) #Dropping columns with tons of null (over 150k or so)

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,biweekly_cases,biweekly_deaths,...,new_cases_per_million_7_day_avg_right,new_deaths_per_million_7_day_avg_right,new_deaths_per_100k_7_day_avg_right,cfr,cfr_100_cases,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop
0,Afghanistan,2020-01-04,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-86.0,-91.0,-81.0,-91.0,-86.0
1,Afghanistan,2020-01-05,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-85.0,-90.0,-80.0,-90.0,-85.0
2,Afghanistan,2020-01-06,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-84.0,-89.0,-79.0,-89.0,-84.0
3,Afghanistan,2020-01-07,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-83.0,-88.0,-78.0,-88.0,-83.0
4,Afghanistan,2020-01-08,0.0,0,0.0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,-82.0,-87.0,-77.0,-87.0,-82.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455495,Zimbabwe,2024-12-25,0.0,266399,0.0,5740,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.154663,2.154663,1674.0,1756.0,1716.0,1756.0,1674.0
455496,Zimbabwe,2024-12-26,0.0,266399,0.0,5740,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.154663,2.154663,1675.0,1757.0,1717.0,1757.0,1675.0
455497,Zimbabwe,2024-12-27,0.0,266399,0.0,5740,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.154663,2.154663,1676.0,1758.0,1718.0,1758.0,1676.0
455498,Zimbabwe,2024-12-28,0.0,266399,0.0,5740,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.154663,2.154663,1677.0,1759.0,1719.0,1759.0,1677.0
455499,Zimbabwe,2024-12-29,0.0,266399,0.0,5740,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.154663,2.154663,1678.0,1760.0,1720.0,1760.0,1678.0

In [11]:
cases_deaths.fillna({"new_cases" : 0, "new_deaths" :0, "weekly_cases" :0, "weekly_deaths" :0})
#the nulls are normally around the start of covid, where there would be very few new cases. Which led me to believe that its zero at these spots

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
0,Afghanistan,2020-01-04,0.0,0,0.0,0,0.0,0.0,NaN,NaN,...,NaN,NaN,-86.0,-91.0,-81.0,-91.0,-86.0,NaN,NaN,NaN
1,Afghanistan,2020-01-05,0.0,0,0.0,0,0.0,0.0,NaN,NaN,...,NaN,NaN,-85.0,-90.0,-80.0,-90.0,-85.0,NaN,NaN,NaN
2,Afghanistan,2020-01-06,0.0,0,0.0,0,0.0,0.0,NaN,NaN,...,NaN,NaN,-84.0,-89.0,-79.0,-89.0,-84.0,NaN,NaN,NaN
3,Afghanistan,2020-01-07,0.0,0,0.0,0,0.0,0.0,NaN,NaN,...,NaN,NaN,-83.0,-88.0,-78.0,-88.0,-83.0,NaN,NaN,NaN
4,Afghanistan,2020-01-08,0.0,0,0.0,0,0.0,0.0,NaN,NaN,...,NaN,NaN,-82.0,-87.0,-77.0,-87.0,-82.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455495,Zimbabwe,2024-12-25,0.0,266399,0.0,5740,0.0,0.0,NaN,NaN,...,2.154663,NaN,1674.0,1756.0,1716.0,1756.0,1674.0,3.0,0.018669,0.186694
455496,Zimbabwe,2024-12-26,0.0,266399,0.0,5740,0.0,0.0,NaN,NaN,...,2.154663,NaN,1675.0,1757.0,1717.0,1757.0,1675.0,3.0,0.018669,0.186694
455497,Zimbabwe,2024-12-27,0.0,266399,0.0,5740,0.0,0.0,NaN,NaN,...,2.154663,NaN,1676.0,1758.0,1718.0,1758.0,1676.0,3.0,0.018669,0.186694
455498,Zimbabwe,2024-12-28,0.0,266399,0.0,5740,0.0,0.0,NaN,NaN,...,2.154663,NaN,1677.0,1759.0,1719.0,1759.0,1677.0,3.0,0.018669,0.186694
455499,Zimbabwe,2024-12-29,0.0,266399,0.0,5740,0.0,0.0,NaN,NaN,...,2.154663,NaN,1678.0,1760.0,1720.0,1760.0,1678.0,3.0,0.018669,0.186694

In [12]:
values = {}
for col in cases_deaths.columns:
  if col != "country" and col != "date":
    values[col] = cases_deaths[col].median()
cases_deaths.fillna(value=values)

,country,date,new_cases,total_cases,new_deaths,total_deaths,weekly_cases,weekly_deaths,weekly_pct_growth_cases,weekly_pct_growth_deaths,...,cfr_100_cases,cfr_short_term,days_since_100_total_cases,days_since_5_total_deaths,days_since_1_total_cases_per_million,days_since_0_1_total_deaths_per_million,days_since_100_total_cases_and_5m_pop,total_deaths_last12m,total_deaths_per_100k_last12m,total_deaths_per_million_last12m
0,Afghanistan,2020-01-04,0.0,0,0.0,0,66.0,0.0,-3.3,-3.4,...,1.181207,0.391389,-86.0,-91.0,-81.0,-91.0,-86.0,0.0,0.000000,0.000000
1,Afghanistan,2020-01-05,0.0,0,0.0,0,66.0,0.0,-3.3,-3.4,...,1.181207,0.391389,-85.0,-90.0,-80.0,-90.0,-85.0,0.0,0.000000,0.000000
2,Afghanistan,2020-01-06,0.0,0,0.0,0,66.0,0.0,-3.3,-3.4,...,1.181207,0.391389,-84.0,-89.0,-79.0,-89.0,-84.0,0.0,0.000000,0.000000
3,Afghanistan,2020-01-07,0.0,0,0.0,0,66.0,0.0,-3.3,-3.4,...,1.181207,0.391389,-83.0,-88.0,-78.0,-88.0,-83.0,0.0,0.000000,0.000000
4,Afghanistan,2020-01-08,0.0,0,0.0,0,66.0,0.0,-3.3,-3.4,...,1.181207,0.391389,-82.0,-87.0,-77.0,-87.0,-82.0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455495,Zimbabwe,2024-12-25,0.0,266399,0.0,5740,0.0,0.0,-3.3,-3.4,...,2.154663,0.391389,1674.0,1756.0,1716.0,1756.0,1674.0,3.0,0.018669,0.186694
455496,Zimbabwe,2024-12-26,0.0,266399,0.0,5740,0.0,0.0,-3.3,-3.4,...,2.154663,0.391389,1675.0,1757.0,1717.0,1757.0,1675.0,3.0,0.018669,0.186694
455497,Zimbabwe,2024-12-27,0.0,266399,0.0,5740,0.0,0.0,-3.3,-3.4,...,2.154663,0.391389,1676.0,1758.0,1718.0,1758.0,1676.0,3.0,0.018669,0.186694
455498,Zimbabwe,2024-12-28,0.0,266399,0.0,5740,0.0,0.0,-3.3,-3.4,...,2.154663,0.391389,1677.0,1759.0,1719.0,1759.0,1677.0,3.0,0.018669,0.186694
455499,Zimbabwe,2024-12-29,0.0,266399,0.0,5740,0.0,0.0,-3.3,-3.4,...,2.154663,0.391389,1678.0,1760.0,1720.0,1760.0,1678.0,3.0,0.018669,0.186694

CLEANING HOSPITAL

In [13]:
hospital[hospital["daily_occupancy_icu"].isnull()]

,country,country_code,date,daily_occupancy_icu,daily_occupancy_icu_per_1m,daily_occupancy_hosp,daily_occupancy_hosp_per_1m,weekly_admissions_icu,weekly_admissions_icu_per_1m,weekly_admissions_hosp,weekly_admissions_hosp_per_1m
5877,Bulgaria,BGR,2023-01-01,NaN,NaN,351.0,51.755,NaN,NaN,NaN,NaN
8629,Croatia,HRV,2020-04-15,NaN,NaN,341.0,84.608,NaN,NaN,NaN,NaN
8630,Croatia,HRV,2020-04-16,NaN,NaN,372.0,92.299,NaN,NaN,NaN,NaN
8631,Croatia,HRV,2020-04-17,NaN,NaN,372.0,92.299,NaN,NaN,NaN,NaN
8632,Croatia,HRV,2020-04-18,NaN,NaN,361.0,89.570,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
44193,United Kingdom,GBR,2023-07-08,NaN,NaN,1154.0,17.094,NaN,NaN,NaN,NaN
44194,United Kingdom,GBR,2023-07-09,NaN,NaN,1154.0,17.094,NaN,NaN,NaN,NaN
44195,United Kingdom,GBR,2023-07-10,NaN,NaN,1148.0,17.005,NaN,NaN,NaN,NaN
44196,United Kingdom,GBR,2023-07-11,NaN,NaN,1146.0,16.976,NaN,NaN,NaN,NaN
44197,United Kingdom,GBR,2023-07-12,NaN,NaN,1325.0,19.627,NaN,NaN,NaN,NaN

In [14]:
values = {}
for col in hospital.columns:
  if col != "country" and col != "date" and col != "country_code":
    values[col] = hospital[col].median()
hospital.fillna(value=values)

,country,country_code,date,daily_occupancy_icu,daily_occupancy_icu_per_1m,daily_occupancy_hosp,daily_occupancy_hosp_per_1m,weekly_admissions_icu,weekly_admissions_icu_per_1m,weekly_admissions_hosp,weekly_admissions_hosp_per_1m
0,Algeria,DZA,2020-07-17,62.0,1.381,776.0,74.236,92.0,4.645,864.0,56.277
1,Algeria,DZA,2020-07-18,67.0,1.492,776.0,74.236,92.0,4.645,864.0,56.277
2,Algeria,DZA,2020-07-20,64.0,1.425,776.0,74.236,92.0,4.645,864.0,56.277
3,Algeria,DZA,2020-07-21,56.0,1.247,776.0,74.236,92.0,4.645,864.0,56.277
4,Algeria,DZA,2020-07-22,51.0,1.136,776.0,74.236,92.0,4.645,864.0,56.277
...,...,...,...,...,...,...,...,...,...,...,...
46772,Wales,OWID_WLS,2023-07-08,0.0,0.000,0.0,0.000,92.0,4.645,2.0,0.631
46773,Wales,OWID_WLS,2023-07-09,0.0,0.000,0.0,0.000,92.0,4.645,2.0,0.631
46774,Wales,OWID_WLS,2023-07-10,0.0,0.000,0.0,0.000,92.0,4.645,2.0,0.631
46775,Wales,OWID_WLS,2023-07-11,0.0,0.000,0.0,0.000,92.0,4.645,2.0,0.631
46776,Wales,OWID_WLS,2023-07-12,5.0,1.577,142.0,44.795,92.0,4.645,5.0,1.577

CLEANING VACCINE_GLOBAL

In [15]:
vaccinations_global

,country,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations,daily_vaccinations_smoothed,daily_people_vaccinated_smoothed,total_vaccinations_per_hundred,...,people_fully_vaccinated_interpolated,total_boosters_interpolated,total_vaccinations_no_boosters_interpolated,total_vaccinations_no_boosters_per_hundred_interpolated,rolling_vaccinations_6m,rolling_vaccinations_6m_per_hundred,rolling_vaccinations_9m,rolling_vaccinations_9m_per_hundred,rolling_vaccinations_12m,rolling_vaccinations_12m_per_hundred
0,Afghanistan,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,...,5.562400e+04,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2021-02-23,NaN,NaN,NaN,NaN,NaN,1366.666667,1366.666667,NaN,...,5.562400e+04,0.000000e+00,1.366667e+03,NaN,1366.666667,0.003368,1.366667e+03,0.003368,1.366667e+03,0.003368
2,Afghanistan,2021-02-24,NaN,NaN,NaN,NaN,NaN,1366.666667,1366.666667,NaN,...,5.562400e+04,0.000000e+00,2.733333e+03,NaN,2733.333333,0.006736,2.733333e+03,0.006736,2.733333e+03,0.006736
3,Afghanistan,2021-02-25,NaN,NaN,NaN,NaN,NaN,1366.666667,1366.666667,NaN,...,5.562400e+04,0.000000e+00,4.100000e+03,NaN,4100.000000,0.010104,4.100000e+03,0.010104,4.100000e+03,0.010104
4,Afghanistan,2021-02-26,NaN,NaN,NaN,NaN,NaN,1366.666667,1366.666667,NaN,...,5.562400e+04,0.000000e+00,5.466667e+03,NaN,5466.666667,0.013472,5.466667e+03,0.013472,5.466667e+03,0.013472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203052,Zimbabwe,2023-12-27,NaN,NaN,NaN,NaN,NaN,3822.227679,2428.736607,NaN,...,5.653986e+06,2.288662e+06,1.163116e+07,NaN,699467.665179,4.352884,1.047290e+06,6.517434,1.395113e+06,8.681983
203053,Zimbabwe,2023-12-28,NaN,NaN,NaN,NaN,NaN,3822.227679,2428.736607,NaN,...,5.656020e+06,2.291488e+06,1.163216e+07,NaN,699467.665179,4.352884,1.047290e+06,6.517434,1.395113e+06,8.681983
203054,Zimbabwe,2023-12-29,NaN,NaN,NaN,NaN,NaN,3822.227679,2428.736607,NaN,...,5.658053e+06,2.294315e+06,1.163315e+07,NaN,699467.665179,4.352884,1.047290e+06,6.517434,1.395113e+06,8.681983
203055,Zimbabwe,2023-12-30,NaN,NaN,NaN,NaN,NaN,3822.227679,2428.736607,NaN,...,5.660086e+06,2.297141e+06,1.163415e+07,NaN,699467.665179,4.352884,1.047290e+06,6.517434,1.395113e+06,8.681983
203056,Zimbabwe,2023-12-31,13935112.0,7525882.0,5662119.0,2299968.0,NaN,3822.227679,2428.736607,86.720139,...,5.662119e+06,2.299968e+06,1.163514e+07,72.407118,699467.665179,4.352884,1.047290e+06,6.517434,1.395113e+06,8.681983

In [ ]:
vaccinations_global.isnull().sum()

In [30]:
#There are so many nulls in the data (over 100k per column out of 200k rows), so I decided the best course of action
#is to remove those columns
vaccine_null = vaccinations_global.isnull().sum()
for col in vaccinations_global.columns:
  if vaccine_null[col] > 50000:
    vaccinations_global = vaccinations_global.drop(col, axis=1)
vaccinations_global = vaccinations_global.fillna(0)

In [31]:
vaccinations_global.columns

Index(['country', 'date', 'daily_vaccinations_smoothed',
       'daily_people_vaccinated_smoothed',
       'daily_people_vaccinated_smoothed_per_hundred',
       'daily_vaccinations_smoothed_per_million',
       'total_vaccinations_interpolated', 'people_vaccinated_interpolated',
       'people_fully_vaccinated_interpolated', 'total_boosters_interpolated',
       'total_vaccinations_no_boosters_interpolated',
       'rolling_vaccinations_6m', 'rolling_vaccinations_6m_per_hundred',
       'rolling_vaccinations_9m', 'rolling_vaccinations_9m_per_hundred',
       'rolling_vaccinations_12m', 'rolling_vaccinations_12m_per_hundred'],
      dtype='object')

Cleaning Vaccinations Age

In [36]:
vaccinations_age.isnull().sum()

country                                   0
age_group                                 0
date                                      0
people_vaccinated_per_hundred           859
people_fully_vaccinated_per_hundred    2500
people_with_booster_per_hundred        9519
dtype: int64

Cleaning testing

In [39]:
testing.isnull().sum()

country                                     0
date                                        0
total_tests                             27401
new_tests                               31385
total_tests_per_thousand                27401
new_tests_per_thousand                  31385
new_tests_7day_smoothed                  2823
new_tests_per_thousand_7day_smoothed     2823
dtype: int64